@model MusiCore.TextModels.UsedTechnology

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("PartialViews/_PartialViewForCreateTextTop")

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TextTurkish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextTurkish)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TextEnglish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextEnglish)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Sil</a> |
    <a asp-action="Index">Geri Dön</a>
</div>
