@model IEnumerable<MusiCore.TextModels.UsedTechnology>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("PartialViews/_PartialViewForCreateTextTop")

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TextTurkish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextEnglish)
            </th>
            <th></th>
        </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TextTurkish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextEnglish)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Yeni Teknoloji Ekle</a>
</p>