@model IEnumerable<MusiCore.TextModels.UsedApproach>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("PartialViews/_PartialViewForCreateTextTop")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TextTurkish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextEnglish)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="check"></div>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TextTurkish) &nbsp <a asp-action="Details" asp-route-id="@item.Id">Görüntüle</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Yeni Yaklaşım Ekle</a>
</p>