@model IEnumerable<MusiCore.Models.Concert>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("PartialViews/_PartialViewForCreateTextTop")


<ul class="gigs">
    @foreach (var item in Model)
    {
        @*<li>@item.DateTime - @item.Artist.Name</li>*@

        <li>
            <div class="date">
                <div class="month">
                    @item.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @item.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @item.Artist.Name
                </span>
                <span class="genre">
                    @item.Genre.Name
                </span>
            </div>
        </li>
    }
</ul>