@model MusiCore.ViewModels.GigFormViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Create a gig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Venue" class="control-label textRenk"></label>
                <input asp-for="Venue" class="form-control" />
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label textRenk"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Time" class="control-label textRenk"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="Genre" class="control-label textRenk"></label>
                <select asp-for="Genre" class="form-control" asp-items="ViewBag.GenreBag"></select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Genre" class="control-label textRenk"></label>
                
                <select asp-for="Genre" class="form-control"
                        asp-items="@(new SelectList(Model.Genres,"Id","Name"))">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="TurId" class="control-label textRenk"></label>
                <select asp-for="TurId" class="form-control" asp-items="ViewBag.TurId"></select>
            </div>*@

            @*puan*@
            @*<div class="form-group">
                <label asp-for="Puan" class="control-label textRenk"></label>
                <select asp-for="Puan" class="form-control" asp-items="ViewBag.PuanData"></select>
            </div>

            <div class="form-group">
                <label asp-for="Yorum" class="control-label textRenk"></label>
                @Html.TextAreaFor(model => model.Yorum, new { style = "width: 350px; height:200px;", @class = "form-control" })
                <span asp-validation-for="Yorum" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hakkinda" class="control-label textRenk"></label>
                @Html.TextAreaFor(model => model.Hakkinda, new { style = "width: 350px; height:200px;", @class = "form-control" })

                <span asp-validation-for="Hakkinda" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label textRenk">
                    <input class="form-check-input" asp-for="FavoriMi" /> @Html.DisplayNameFor(model => model.FavoriMi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label textRenk">
                    <input class="form-check-input" asp-for="DinlendiMi" /> @Html.DisplayNameFor(model => model.DinlendiMi)
                </label>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
