@model IEnumerable<MusiCore.TextModels.CampaignOfFixation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("PartialViews/_PartialViewForCreateTextTop")

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Modüller
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.IsDone)
                {
                    <td>
                        <div class="check"></div>
                    </td>
                }
                else
                {
                    <td>
                        <div class="close"></div>
                    </td>
                }
                <td>
                    @if (item.IsDone)
                    {
                        @Html.DisplayFor(modelItem => item.TextTurkish) <span style="font-style: italic; color: #00bfff">@item.GetMonth </span> <a asp-action="Details" asp-route-id="@item.Id">Görüntüle</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.TextTurkish) <span style="font-style: italic; color: #fb7575"> @item.GetMonth </span> <a asp-action="Details" asp-route-id="@item.Id">Görüntüle</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<p>
    <a asp-action="Create">Yeni Hata Ekle</a>
</p>