
<h1>@ViewData["ViewDataForFirstHeader"]</h1>
<h4>@*Yeni @ViewData["ViewDataForClassName"] Ekle*@</h4>
@*<h4>Yeni @Model.ClassName Ekle</h4>
    <h4>Yeni @Model.ClassName Ekle</h4>*@

@*<h4>Yeni @ViewData["ViewDataForClassName"] Ekle</h4>*@
<h4>@ViewData["ViewDataForSecondHeader"]</h4>

<hr />
<br />


